/* 现有的 CSS 样式 */
#tu {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
}

#tu::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.3); /* 调整透明度以降低亮度 */
    z-index: 1;
}

#tu li {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: opacity 1s ease-in-out;
    list-style: none;
    z-index: 0;
}

#tu li.show {
    opacity: 1;
}

#tu li img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* 新增的全局字体颜色样式 */
h1, p {
    color: rgba(255, 255, 255, 0.9); /* 0.9 表示 90% 不透明度 */
}

.ms-NavBar {
    background-color: rgba(0, 0, 0, 0.312); /* 半透明黑色 */
    height: 40px;
    position: relative;
    z-index: 5;
    flex: 0 0 auto;
    font-size: 13px;
}

.NavBar-content {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    -webkit-app-region: drag;
    display: flex;
    align-content: center;
    align-items: center;
}

.ms-Icon {
    font-size: 16px;
    color: rgba(255, 255, 255, 0.9); /* 0.9 表示 90% 不透明度 */
}

.NavBar-content .ms-NavBar-item {
    width: auto;
    height: 100%;
    padding: 10px 15px 10px 15px;
    cursor: pointer;
}
.NavBar-content .ms-NavBar-search {
    width: auto;
    height: 100%;
    padding: 5px 15px 5px 15px;
    cursor: pointer;
}
.NavBar-content .ms-NavBar-item:hover {
    background-color: rgba(0, 0, 0, 0.344); /* 半透明白色 */
}
.segoe-font {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 15px;
    font-weight: 650;
    margin: 0; /* 移除默认的段落边距 */
    display: flex;
    align-items: center;
    height: 100%; /* 确保父元素高度被占满 */
}

/* 在 index.css 中添加百度搜索输入框的样式 */
.NavBar-search {
  margin: 0px 50px 0px 50px;
    padding: 5px 10px;
    width: 300px;
    height: 30px;
    border-radius: 3px;
    background-color: rgba(255, 255, 255, 0.249);
    display: flex;
    align-items: center;
  }
  
  .NavBar-search:hover {
    background-color: rgba(255, 255, 255, 0.688);
  }
  
  .NavBar-search i {
    font-size: 14px;
    margin-right: 10px;
  }
  
  .NavBar-search:hover i {
    color: black;
  }
  
  .baidu-search-input {
    border: none;
    outline: none;
    background: none;
    width: 100%;
    font-size: 14px;
    color: rgba(255, 255, 255, 0.9);
  }
  .NavBar-search:hover .baidu-search-input {
    color: black;
  }
  .baidu-search-input::placeholder {
    color: rgb(255, 255, 255); /* 设置 placeholder 字体颜色 */
  }
  .NavBar-search:hover .baidu-search-input::placeholder {
    color: black;
  }

  .NavBar-left {
    display: flex;
    align-items: center;
  }
  
  .NavBar-right {
    display: flex;
    align-items: center;
    margin-left: auto;
  }
  .site {
    border-radius: 3px;
    margin: 5px;
    padding: 5px;
    display: flex;
    align-items: center; /* 只垂直居中 */
    cursor: pointer;
  }
  .site img {
    margin-right: 10px; /* 为图像和文本之间添加一些间距 */
    width: 32px;
    height: 32px;
  }
  .site p {
    margin: 0; /* 确保段落没有额外的外边距 */
  }
  .site:hover {
    background-color: rgba(0, 0, 0, 0.246);
  }
  .site:active {
    background-color: rgba(0, 0, 0, 0.328);
  }